.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/images/hero_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 86vh;
}

.block {
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about_section {

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/images/about_bg__image.jpg');

}

.story_section {

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/images/story_bg__image.jpg');

}

.services_section {

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../public/images/services_bg__image.jpg');

}

.service_section_1__bg {

  background-image: url('../public/images/service_1__bg.jpg');

}

.service_section_2__bg {

  background-image: url('../public/images/service_2__bg.jpg');

}

.service_section_3__bg {

  background-image: url('../public/images/service_3__bg.jpg');

}

.service_section_4__bg {

  background-image: url('../public/images/service_4__bg.jpg');

}

.service_section_5__bg {

  background-image: url('../public/images/service_5__bg.jpg');

}

.service_section_6__bg {

  background-image: url('../public/images/service_6__bg.jpg');

}

.service_section_7__bg {

  background-image: url('../public/images/service_7__bg.jpg');

}

.service_section_8__bg {

  background-image: url('../public/images/service_8__bg.jpg');

}

.learn_more__btn {
  border-radius: 100px;
}

.contact_section__bg_color {
  background-color: #385d7c;
}

.service_section__bg_color {
  background-color: #F4F3F2;
}

.testimonial_section__bg_color {
  background-color: aliceblue;
}